@use "./variables" as v;


figure.snip1195 {
  // font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 40px auto;
  min-width: 400px;
  max-width: 640px;
  width: 100%;
  background: v.$main-secondary;
  color: v.$color-black;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

}
figure.snip1195 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1195 .image {
  background-color: #000000;
  width: 50%;
  overflow: hidden;

}
figure.snip1195 img {
  max-width: 100%;
  vertical-align: top;
	filter: brightness(.7);
}
figure.snip1195 figcaption {
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 35px;
}
figure.snip1195 h4,
figure.snip1195 p,
figure.snip1195 .price {
  margin: 0 0 8px;
}
figure.snip1195 h4 {
  position: absolute;
  width: 50%;
  top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
}
figure.snip1195:hover h4 {
	font-size: 44px;
	color: v.$color-black;
	background-color: rgba(255,255,255,.7);
}

figure.snip1195 p {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.6em;
}
figure.snip1195 .rating {
  position: absolute;
  width: 50%;
  line-height: 44px;
  color: #ffffff;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
figure.snip1195 .price {
  color: #ffffff;
  font-size: 1.3em;
  opacity: 0.8;
}
figure.snip1195 .price s {
  display: inline-block;
  padding: 0 8px 0 0;
  font-size: 0.85em;
  color: #f39c12;
}
figure.snip1195 .add-to-cart {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}
figure.snip1195:hover img,
figure.snip1195.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
	filter: brightness(1);

}
figure.snip1195:hover .add-to-cart,
figure.snip1195.hover .add-to-cart {
  background-color: rgba(0, 0, 0, 1);
}
