@use "./variables" as v;

.fv {
  background-image: url("/assets/images/fv-bg.png");
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 6rem;
    color: v.$main-primary;
    @include v.mq(lg) {
      font-size: 3.2rem;
    }
  }
}
